USE [master]
GO
/****** Object:  Database [ProjetSysProg]    Script Date: 06/12/2018 16:39:05 ******/
CREATE DATABASE [ProjetSysProg]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjetSysProg', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SAMBASQL\MSSQL\DATA\ProjetSysProg.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjetSysProg_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SAMBASQL\MSSQL\DATA\ProjetSysProg_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjetSysProg].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjetSysProg]
GO
/****** Object:  Table [dbo].[Approvisionnement]    Script Date: 06/12/2018 16:39:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Approvisionnement](
	[FK_Fournisseur] [int] NOT NULL,
	[FK_Reserve] [int] NOT NULL,
	[FK_Congelateur] [int] NOT NULL,
	[FK_Chambre_froide] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chambre_froide]    Script Date: 06/12/2018 16:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chambre_froide](
	[Chambre_froideID] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Ingredient_Chambre] [nvarchar](50) NOT NULL,
	[Fraicheur_Chambre] [int] NOT NULL,
	[Quantite_Chambre] [int] NOT NULL,
 CONSTRAINT [PK_Chambre_froide] PRIMARY KEY CLUSTERED 
(
	[Chambre_froideID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Congelateur]    Script Date: 06/12/2018 16:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Congelateur](
	[CongelateurID] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Ingredient_Congelateur] [nvarchar](50) NOT NULL,
	[Fraicheur_Congelateur] [int] NOT NULL,
	[Quantite_Congelateur] [int] NOT NULL,
 CONSTRAINT [PK_Congelateur] PRIMARY KEY CLUSTERED 
(
	[CongelateurID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreationRecette]    Script Date: 06/12/2018 16:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreationRecette](
	[FK_Ingredient] [int] NOT NULL,
	[FK_Recette] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fournisseur]    Script Date: 06/12/2018 16:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fournisseur](
	[FournisseurID] [int] IDENTITY(1,1) NOT NULL,
	[Produit_livrer] [nvarchar](50) NOT NULL,
	[Nom_Fournisseur] [nvarchar](50) NULL,
 CONSTRAINT [PK_Fournisseur] PRIMARY KEY CLUSTERED 
(
	[FournisseurID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredient]    Script Date: 06/12/2018 16:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredient](
	[IngredientID] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Ingredient] [nvarchar](50) NOT NULL,
	[Fraicheur_Max] [int] NOT NULL,
	[Lieu_Stockage] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Ingredient] PRIMARY KEY CLUSTERED 
(
	[IngredientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MajStock]    Script Date: 06/12/2018 16:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MajStock](
	[FK_Ingredient] [int] NOT NULL,
	[FK_Chambre_froide] [int] NOT NULL,
	[FK_Congelateur] [int] NOT NULL,
	[FK_Reserve] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recette]    Script Date: 06/12/2018 16:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recette](
	[RecetteID] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Recette] [nvarchar](50) NOT NULL,
	[Type_Recette] [nvarchar](50) NOT NULL,
	[Ingredient1] [nvarchar](50) NOT NULL,
	[Ingredient2] [nvarchar](50) NOT NULL,
	[Ingredient3] [nvarchar](50) NOT NULL,
	[Ingredient4] [nvarchar](50) NOT NULL,
	[Temps_Cuisson] [int] NOT NULL,
 CONSTRAINT [PK_Recette] PRIMARY KEY CLUSTERED 
(
	[RecetteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserve]    Script Date: 06/12/2018 16:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserve](
	[ReserveID] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Ingredient_Reserve] [nvarchar](50) NOT NULL,
	[Fraicheur_Reserve] [int] NOT NULL,
	[Quantite_Reserve] [int] NOT NULL,
 CONSTRAINT [PK_Reserve] PRIMARY KEY CLUSTERED 
(
	[ReserveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Approvisionnement]  WITH CHECK ADD  CONSTRAINT [FK_Approvisionnement_Chambre_froide] FOREIGN KEY([FK_Chambre_froide])
REFERENCES [dbo].[Chambre_froide] ([Chambre_froideID])
GO
ALTER TABLE [dbo].[Approvisionnement] CHECK CONSTRAINT [FK_Approvisionnement_Chambre_froide]
GO
ALTER TABLE [dbo].[Approvisionnement]  WITH CHECK ADD  CONSTRAINT [FK_Approvisionnement_Congelateur] FOREIGN KEY([FK_Congelateur])
REFERENCES [dbo].[Congelateur] ([CongelateurID])
GO
ALTER TABLE [dbo].[Approvisionnement] CHECK CONSTRAINT [FK_Approvisionnement_Congelateur]
GO
ALTER TABLE [dbo].[Approvisionnement]  WITH CHECK ADD  CONSTRAINT [FK_Approvisionnement_Fournisseur] FOREIGN KEY([FK_Fournisseur])
REFERENCES [dbo].[Fournisseur] ([FournisseurID])
GO
ALTER TABLE [dbo].[Approvisionnement] CHECK CONSTRAINT [FK_Approvisionnement_Fournisseur]
GO
ALTER TABLE [dbo].[Approvisionnement]  WITH CHECK ADD  CONSTRAINT [FK_Approvisionnement_Reserve] FOREIGN KEY([FK_Reserve])
REFERENCES [dbo].[Reserve] ([ReserveID])
GO
ALTER TABLE [dbo].[Approvisionnement] CHECK CONSTRAINT [FK_Approvisionnement_Reserve]
GO
ALTER TABLE [dbo].[CreationRecette]  WITH CHECK ADD  CONSTRAINT [FK_CreationRecette_Ingredient] FOREIGN KEY([FK_Ingredient])
REFERENCES [dbo].[Ingredient] ([IngredientID])
GO
ALTER TABLE [dbo].[CreationRecette] CHECK CONSTRAINT [FK_CreationRecette_Ingredient]
GO
ALTER TABLE [dbo].[CreationRecette]  WITH CHECK ADD  CONSTRAINT [FK_CreationRecette_Recette] FOREIGN KEY([FK_Recette])
REFERENCES [dbo].[Recette] ([RecetteID])
GO
ALTER TABLE [dbo].[CreationRecette] CHECK CONSTRAINT [FK_CreationRecette_Recette]
GO
ALTER TABLE [dbo].[MajStock]  WITH CHECK ADD  CONSTRAINT [FK_MajStock_Chambre_froide] FOREIGN KEY([FK_Chambre_froide])
REFERENCES [dbo].[Chambre_froide] ([Chambre_froideID])
GO
ALTER TABLE [dbo].[MajStock] CHECK CONSTRAINT [FK_MajStock_Chambre_froide]
GO
ALTER TABLE [dbo].[MajStock]  WITH CHECK ADD  CONSTRAINT [FK_MajStock_Congelateur] FOREIGN KEY([FK_Congelateur])
REFERENCES [dbo].[Congelateur] ([CongelateurID])
GO
ALTER TABLE [dbo].[MajStock] CHECK CONSTRAINT [FK_MajStock_Congelateur]
GO
ALTER TABLE [dbo].[MajStock]  WITH CHECK ADD  CONSTRAINT [FK_MajStock_Ingredient] FOREIGN KEY([FK_Ingredient])
REFERENCES [dbo].[Ingredient] ([IngredientID])
GO
ALTER TABLE [dbo].[MajStock] CHECK CONSTRAINT [FK_MajStock_Ingredient]
GO
ALTER TABLE [dbo].[MajStock]  WITH CHECK ADD  CONSTRAINT [FK_MajStock_Reserve] FOREIGN KEY([FK_Reserve])
REFERENCES [dbo].[Reserve] ([ReserveID])
GO
ALTER TABLE [dbo].[MajStock] CHECK CONSTRAINT [FK_MajStock_Reserve]
GO
USE [master]
GO
